body {
    background: repeating-linear-gradient(
      30deg,
      #16c35b,
      #16c35b 35px,
      #f9f35a 35px,
      #f9f35a 50px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }

  img {
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
  }

  header {
    display: flex;
    background-color: azure;
  }

  nav {
    display: flex;
    background-color: blue;
  }

  h1 {
    display: flex;
    background-color: red;
  }

  ul {
    display: flex;
    background-color: purple;
  }

  section {
    display: flex;
  }